jax>=0.4.0
jaxlib>=0.4.0
distrax>=0.1.2
optax>=0.1.4
matplotlib>=3.6.2
dm-haiku>=0.0.9
matplotlib==3.7.0
pandas==1.5.3
scipy==1.10.0
ml-collections==0.1.1
pydantic==1.10.5
jraph==0.0.6.dev0
tensorboardX==2.6
